<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Lista decyzji</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/material-icons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Contact-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Navigation-with-Search.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">

</head>

<body>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>Lista decyzji</h1>
            Lista wszystkich decyzji podjętych
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/decision/new_decision">
                <button type="button" role="button" class="btn btn-secondary btn-lg"
                        style="margin: 1em 0em 0.5em 0em;">Dodaj decyzję
                </button>
            </a>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Rodzaj</th>
                    <th scope="col">Data</th>
                    <th scope="col">Uzasadnienie</th>
                    <th scope="col">ID centralne sprawy</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="decision : ${decisions}">
                    <td><span th:text="${decision.id}"></span></td>
                    <td><span th:text="${decision.decisionType}"></span></td>
                    <td><span th:text="${decision.added}"></span></td>
                    <td>
                        <div>
                            <a class="btn" data-toggle="collapse" aria-expanded="false"
                               aria-controls="collapse-1" href="#collapse-1" role="button"
                               style="min-width: 200px;padding: 0;border: none;text-align: left">
                                <span th:text="${#strings.substring(decision.reason,0,10).concat('...')}">...</span>
                            </a>
                            <div
                                    class="collapse" id="collapse-1">
                                <p th:text="${decision.reason}"></p>
                            </div>
                        </div>
                    </td>
                    <td><span th:text="${decision.centralId}"></span></td>
                    <td>
                        <a th:href="@{'/decision/' + ${decision.id}}" onclick="alert('Pomyślnie usunięto decyzję')" >
                            <i class="material-icons"
                               style="font-size: 30px;color: rgb(162,23,23);">delete_forever</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <p>Created by <u>Anna Bodek i Łukasz Burdyna</u>
        </div>
        <div class="col-6"></div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/bs-init.js}"></script>
<script th:src="@{/assets/js/expand.js}"></script>
<script th:src="@{/assets/js/bootstrap-select.min.js}"></script>
</body>

</html>