<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Przeglądanie sprawy</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Muli|Open+Sans&display=swap">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container mt-3">
    <div class="row row-bottom-margin">
        <div class="col">
            <h1>Przeglądanie sprawy</h1>
        </div>
    </div>
    <div class="row row-bottom-margin">
        <div class="col">
            <h3>Dane sprawy</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row inner-row-margin">
                <div class="col-6 col-sm-5">
                    <b>ID Centralne</b>
                </div>
                <div class="col">
                    <span th:text="${matter.centralId != null} ? ${matter.centralId} : 'Brak'">-</span>
                </div>
            </div>
            <div class="row inner-row-margin">
                <div class="col-6 col-sm-5">
                    <b>ID Lokalne</b>
                </div>
                <div class="col">
                    <span th:text="${matter.localId}">-</span>
                </div>
            </div>
            <div class="row inner-row-margin">
                <div class="col-6 col-sm-5">
                    <b>ID Wniosku</b>
                </div>
                <div class="col">
                    <span th:text="${matter.application.localId}">-</span>
                </div>
            </div>

            <div class="row inner-row-margin">
                <div class="col-6 col-sm-5">
                    <b>Data założenia</b>
                </div>
                <div class="col">
                    <span th:text="${matter.creationDate.toString().substring(0, matter.creationDate.toString().length() - 12)}">-</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row inner-row-margin">
                <div class="col-6 col-sm-5">
                    <b>Cel wizyty</b>
                </div>
                <div class="col">
                    <span th:text="${matter.application.purpose}">-</span>
                </div>
            </div>
            <div class="row inner-row-margin">
                <div class="col-6 col-sm-5">
                    <b>Planowana data przyjazdu</b>
                </div>
                <div class="col">
                    <span th:text="${matter.application.arriveTime.toString().substring(0, matter.creationDate.toString().length() - 12)}">-</span>
                </div>
            </div>
            <div class="row inner-row-margin">
                <div class="col-6 col-sm-5">
                    <b>Planowany czas pobytu</b>
                </div>
                <div class="col">
                    <span th:text="${matter.application.visitationLength}">-</span>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-5 mb-3">
    <div class="row row-bottom-margin">
        <div class="col">
            <h3>Dane opłat</h3>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-striped-margin">
            <thead class="thead-light">
            <tr>
                <th scope="col">Kwota</th>
                <th scope="col">Data wysłania żądania</th>
                <th scope="col">Opłacono</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span th:text="${matter.charge.value != null} ? ${matter.charge.value} + ' ' + ${matter.charge.currency} : '-'">-</span>
                </td>
                <td>
                    <span th:text="${matter.charge.paymentTime != null} ? ${matter.charge.paymentTime.toString().substring(0, matter.creationDate.toString().length() - 12)} : '-'">-</span>
                </td>
                <td>
                    <span th:text="${matter.charge.paid != null} ? (${matter.charge.paid} ? 'Tak' : 'Nie') : '-'">-</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr class="mt-5 mb-3">
    <div class="row row-bottom-margin">
        <div class="col">
            <h3>Dodawanie pliku</h3>
        </div>
    </div>
    <div class="row row-bottom-margin">
        <div class="col-2">
            <button type="button" class="btn btn-secondary">Dodaj plik</button>
        </div>
        <div class="col-3">
            Dodano:
            <p>zdjęcie.jpg</p>
        </div>
    </div>
    <div class="row row-bottom-margin">
        <div class="col-2">
            <button type="button" class="btn btn-success" onclick="alert('Dodano plik do sprawy')"  style="width: 100%;">Zatwierdź</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <p>Created by <u>Anna Bodek i Łukasz Burdyna</u>
        </div>
        <div class="col-6"></div>
    </div>
</div>
</body>

</html>