<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista spraw</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Muli|Open+Sans&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>Lista spraw</h1>
            Lista wszystkich założonych spraw
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Wprowadź centralny identyfikator sprawy"
               aria-label="Identyfikator sprawy" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Szukaj</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID Centralne</th>
                    <th scope="col">ID Lokalne</th>
                    <th scope="col">Treść</th>
                    <th scope="col">Data założenia</th>
                    <th scope="col">Imię wnioskodawcy</th>
                    <th scope="col">Nazwisko wnioskodawcy</th>
                    <th scope="col">Obywatelstwo wnioskodawcy</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="matter: ${matters}">
                    <td><span th:text="${matter.centralId}"></span></td>
                    <td><span th:text="${matter.localId}"></span></td>
                    <td><span th:text="${matter.note}"></span></td>
                    <td><span th:text="${matter.creationDate.toString().substring(0, matter.creationDate.toString().length() - 12)}"></span></td>
                    <td><span th:text="${matter.application.firstName}"></span></td>
                    <td><span th:text="${matter.application.lastName}"></span></td>
                    <td><span th:text="${matter.application.nationalities}"></span></td>
                    <td>
                        <a th:href="@{'/matter/info/' + ${matter.localId}}">
                            <i class="material-icons">info</i>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/matter/edit/' + ${matter.localId}}">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/matter/delete/' + ${matter.localId}}" onclick="alert('Usunięto sprawę')" >
                            <i class="material-icons"
                               style="color: rgb(162,23,23);">cancel</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <p>Created by <u>Anna Bodek i Łukasz Burdyna</u>
        </div>
        <div class="col-6"></div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/bs-init.js}"></script>
<script th:src="@{/assets/js/expand.js}"></script>
<script th:src="@{/assets/js/bootstrap-select.min.js}"></script>
</body>

</html>