<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edycja wniosku</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Muli|Open+Sans&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
       console.log('me');
        $(document).ready(function () {
                $.ajax({
                    dataType: 'json',
                    url: 'http://localhost:8080/application/infojs/' + window.location.href.substr(window.location.href - 1),
                    success: function(data) {
                        console.log(data);
                        document.getElementById("title").setAttribute('value', data.title);
                        document.getElementById("cont").setAttribute('value', data.title);
                        document.getElementById("dday").setAttribute('value', data.title);
                        document.getElementById("days").setAttribute('value', data.title)
                    }
                })
            }
        )
    </script>
</head>

<body>
<div class="container">
    <div class="row mt-3">
        <div class="col-8">
            <h1>Edytuj dodany wniosek</h1>
            <p>Wniosek jest wciąż nierozpatrzony, więc możesz zmienić podane informacje.</p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-info-tab" data-toggle="pill" href="#info" role="tab"
                   aria-controls="v-pills-info" aria-selected="true">Podstawowe informacje</a>
                <a class="nav-link" id="v-pills-personal-data-tab" data-toggle="pill" href="#personal-data"
                   role="tab" aria-controls="v-pills-personal-data" aria-selected="false">Dane osobowe</a>
                <a class="nav-link" id="v-pills-passport-tab" data-toggle="pill" href="#passport" role="tab"
                   aria-controls="v-pills-passport" aria-selected="false">Paszport</a>
            </div>
        </div>
        <div class="col-9">
            <!--/*@thymesVar id="editApplicationDto" type="software.design.consulate.model.dto.application.EditApplicationDto"*/-->
            <form th:action="@{/application/edit/}" action="#" method="post" th:object="${editApplicationDto}">
                <input type="hidden" th:value="${setId}" th:field="*{id}">
                <div class="tab-content tab-left-border" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="info" role="tabpanel"
                         aria-labelledby="v-pills-info-tab">
                        <div class="form-group">
                            <label for="title">Tytuł</label>
                            <input type="text" th:field="*{title}" th:value="${toBeUpdated.title}"
                                   th:attr="value=#{toBeUpdated.title}" value="Title" class="form-control" id="title"
                                   name="title"
                                   placeholder="Tytuł wniosku" required>
                            <span th:text="${toBeUpdated.title}"></span>
                        </div>

                        <div class="form-group">
                            <label for="cont">Treść</label>
                            <textarea th:field="*{content}" class="form-control" id="cont" placeholder="Treść wniosku"
                                      rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="Cel">Cel wizyty</label>
                            <select id="Cel" th:field="*{purpose}">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <option th:value="turystyczny">turystyczny</option>
                                    <option th:value="odwiedziny">odwiedziny rodziny/znajomych</option>
                                    <option th:value="sportowe">udział w wydarzeniu sportowym</option>
                                    <option th:value="praca">podjęcie pracy</option>
                                    <option th:value="zadania">zadania służbowe</option>
                                    <option th:value="studia">studia</option>
                                    <option th:value="badania">badania naukowe</option>
                                    <option th:value="leczenie">leczenie</option>
                                </div>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="dday">Planowana data przyjazdu</label>
                            <input type="date" class="form-control" id="dday" th:field="*{arriveTime}" required>
                        </div>

                        <div class="form-group">
                            <label for="days">Planowany czas pobytu (w dniach)</label>
                            <input type="number" class="form-control" id="days" th:field="*{visitationLength}" required>
                        </div>

                        <div class="form row">
                            <div class="form-group col-md-6"></div>
                            <div class="form-group col-md-6">
                                <div class="form-group col-md-6">
                                    <a class="btn btn-secondary btn-form-width float-right"
                                       onclick="$('#v-pills-personal-data-tab').trigger('click')">Dalej
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="personal-data" role="tabpanel"
                         aria-labelledby="v-pills-personal-data-tab">
                        <div class="form row">
                            <div class="form-group col-md-6">
                                <label for="name">Imię</label>
                                <input type="text" class="form-control" id="name" placeholder="Imię"
                                       th:field="*{firstName}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="orgsurname">Nazwisko rodowe</label>
                                <input type="text" class="form-control" id="orgsurname" placeholder="Nazwisko"
                                       th:field="*{maidenName}"
                                       required>
                            </div>
                        </div>

                        <div class="form row">
                            <div class="form-group col-md-6">
                                <label for="surname">Nazwisko</label>
                                <input type="text" class="form-control" id="surname" placeholder="Nazwisko"
                                       th:field="*{lastName}"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="plec">Płeć</label>
                            <select id="plec" th:field="*{sex}">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <option th:value="M">M</option>
                                    <option th:value="K">K</option>
                                    <div class="dropdown-divider"></div>
                                    <option th:value="O">Inna</option>
                                </div>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="stan">Stan cywilny</label>
                            <select id="stan" th:field="*{martialState}">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <option th:value="wolna">wolny/a</option>
                                    <option th:value="zamezna">żonaty/zamężna</option>
                                    <option th:value="wdowa">wdowiec/wdowa</option>
                                    <option th:value="rozwiedziona">rozwiedziony/a</option>
                                </div>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="bday">Data urodzenia</label>
                            <input type="date" class="form-control" th:field="*{birthday}" id="bday" required>
                        </div>

                        <div class="form-group">
                            <label for="ob">Obywatelstwo (jeżeli kilka, to wymień je przecinku)</label>
                            <input type="text" th:field="*{nationalities}" class="form-control" id="ob"
                                   placeholder="np. polskie, niemieckie"
                                   required>
                        </div>

                        <div class="form row">
                            <div class="form-group col-md-6">
                                <a class="btn btn-secondary btn-form-width float-left"
                                   onclick="$('#v-pills-info-tab').trigger('click')">Wstecz
                                </a>
                            </div>
                            <div class="form-group col-md-6">
                                <a class="btn btn-secondary btn-form-width float-right"
                                   onclick="$('#v-pills-passport-tab').trigger('click')">Dalej
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="passport" role="tabpanel"
                         aria-labelledby="v-pills-passport-tab">

                        <div class="form-group">
                            <label for="pnr">Numer paszportu</label>
                            <input type="text" class="form-control" id="pnr" th:field="*{passportNumber}" required>
                        </div>

                        <div class="form-group">
                            <label for="sday">Data wydania paszportu</label>
                            <input type="date" class="form-control" id="sday" th:field="*{passportCreationTime}"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="eday">Data wygaśnięcia paszportu</label>
                            <input type="date" class="form-control" id="eday" th:field="*{passportExpirationTime}"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="po">Organ wydający paszport</label>
                            <input type="text" class="form-control" id="po" th:field="*{passportGenerator}" required>
                        </div>

                        <div class="form row">
                            <div class="form-group col-md-6">
                                <a class="btn btn-secondary btn-form-width float-left"
                                   onclick="$('#v-pills-personal-data-tab').trigger('click')">Wstecz
                                </a>
                            </div>
                            <div class="form-group col-md-6">
                                <button type="submit"
                                        class="btn btn-block btn-success btn-form-success-width float-right">
                                    Wyślij
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <p>Created by <u>Anna Bodek i Łukasz Burdyna</u>
        </div>
        <div class="col-6"></div>
    </div>
</div>

</body>

</html>